@use "../abstract" as *;

.card {
    --width: 16vw;
    width: var(--width);
    height: 30rem;
    flex-shrink: 0;
    transition: width 0.3s ease-in;
    cursor: pointer;
    position: relative;

    figcaption, img {
        transition: opacity 0.3s ease-in;
    }

    &:hover {
        width: calc(var(--width) + 2vw);

        img {
            opacity: 0.3;
        }

        figcaption {
            opacity: 1;
        }
    }

    figcaption {
        position: absolute;
        bottom: 0;
        padding: 1em;
        font-size: var(--fs-500);
        white-space: normal;
        opacity: 0;
        width: calc(var(--width) + 2vw);
    }

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}