@use "../abstract" as *;

.header {
    --text-clr: rgba(var(--clr-white), 0.7);
    
    @extend .flex-center;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 2rem;
    position: relative;

    &__links {
        @extend .flex-center;
        gap: 4em;
    }

    .logo a {
        color: var(--text-clr);

        span {
            color: rgba(var(--clr-white), 1);
            font-weight: 600;
        }
    }

    .nav {
        @extend .flex-center;
        gap: 3em;

        &__link {
            color: var(--text-clr);
            position: relative;

            &::after {
                content: "";
                display: inline-block;
                width: 3rem;
                height: 2px;
                background-color: var(--clr-orange);
                position: absolute;
                left: 50%;
                bottom: -4px;
                transform: translateX(-50%);
                opacity: 0;
                transition: opacity 0.3s ease-in;
            }
        }

        &__link:hover, &__link.active {
            &::after {
                opacity: 1;
            }
        }
    }

    &__controls {
        @extend .flex-center;
        gap: 2em;
    }

    &__search {
        --radius: 2rem;

        background-color: rgba(var(--clr-white), 0.2);
        border-radius: var(--radius);

        button {
            padding: 0.5em;
            opacity: 0.6;
        }
    }

    .search {
        width: 100%;
        padding: 1.6rem;
        position: absolute;
        top: calc(100%);
        left: 0;
        background-color: var(--clr-black);
        z-index: 1;

        &__input {
            width: 100%;
            padding: 1rem;
        }
    }

    &__options {
        position: relative;

        img {
            transition: all .3s ease-in;
        }

        &:has(.dropdown) {
            img {
                transform: rotate(180deg);
            }
        }

        button {
            @extend .flex-center;
            gap: 1rem;
            opacity: 0.6;
        }

        .dropdown {
            position: absolute;
            right: 0;
            top: calc(100% + 1rem);
            background-color: var(--clr-black);
            z-index: 1;
            padding: 1.2rem 1.8rem;
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            border-radius: 1.6rem;
            border: 1px solid rgba(var(--clr-white), 0.6);
            
            a {
                color: rgba(var(--clr-white), 1);
                text-transform: capitalize;

                &:hover {
                    color: var(--clr-orange);
                }
            }
        }
    }
}