@use "../abstract" as *;

.skeleton {
    height: 30rem;
    width: 23rem;
    flex: none;
    animation: pulse 1s linear infinite alternate;
}

@keyframes pulse {
    from {
        background-color: rgba(var(--clr-white), 0.3);
    }

    to {
        background-color: rgba(var(--clr-white), 0.7);
    }
}