@use "../abstract" as *;

.slider, .load-btn {
    --padding-x: 6rem;
    padding: 6rem var(--padding-x) 0 var(--padding-x);
}

.slider {
    color: rgba(var(--clr-white));

    &__btn {
        position: absolute;
        color: white;
        width: 4rem;
        height: 100%;
        background-color: rgba(var(--clr-white), 0.1);

        &:hover {
            background-color: var(--clr-black);
        }

        &--left {
            left: calc(-1 * (var(--padding-x)));
        }

        &--right {
            right: calc(-1 * var(--padding-x));
        }
    }
    
    &__header {
        margin-bottom: 1.6rem;
    }

    &__body {
        display: flex;
        position: relative;
    }

    &__content {
        display: flex;
        gap: 1vw;
        white-space: nowrap;
        overflow: auto;
        scroll-behavior: smooth;
        @extend .no-scrollbar;
    }
}

.load-btn {
    @extend .flex-center;
}