.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-scrollbar {
    -ms-overflow-style: none; 
    scrollbar-width: none; 

    &::-webkit-scrollbar {
        display: none;
    }
}