@use "../abstract" as *;

html {
    font-size: 62.5%;
}

body {
    background-color: var(--clr-black);
}

button, .btn {
    @extend .flex-center;
}

.btn {
    padding: 1em 3em;
    background-color: var(--clr-orange);
    color: rgba(var(--clr-white), 1.0);
    font-weight: 500;
    transition: scale 0.3s ease-in;

    &:hover {
        scale: 0.95;
    }
}